#content{
    margin-top: 30px;
    border: 1px solid #eee;
    border-radius: 2px;
    background: white;
    box-shadow: 0px 2px 5px #ccc;
    padding: 2px;
    overflow: hidden;
}

#header{

    background: #E03137;
    color: white;
    margin: 0px;
    height: 75px;
    line-height: 70px;
    width:950px;
}

#header h1{
    display: block;
    line-height: 70px;
    font-weight: bold;
    font-size: 40px;
}

#header color{
    background: #E03137;

}

#nav{
    
    display: block;
    padding: 0px;
    margin: 0px;
    background: #E03137;
}

#nav ul{
    padding-left: 10px;
    margin: 0px;
    list-style: none;
}

#nav ul li{
    float: left;
    padding: 20px;
    background: rgb(155, 92, 94);
}

#nav ul li a{
    display: block;
    color: white;
    height: 20px;
    transition: all 300ms;
}

#nav ul li a:hover{
    text-decoration: none;
    background: #E03137;
}

.activado{
    text-decoration: none !important;
    border-bottom: 2px solid yellow !important;
}

#main .jumbotron{
    padding: 50px;
    margin-top: 40px;
    border-radius: 20px;

}

#footer{
    padding-top: 15px;
    margin-top: 50px;
    border-top: 1px solid #eee;
    color: gray;
}

#CreaProducto label{

    margin-top: 10px;
    font-weight: bold;
}

.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
    }
    .navbar.navbar-2 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
    }
    .navbar.navbar-3 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a');
    }
    .navbar.navbar-4 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
    }
    .navbar.navbar-5 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger5.svg?color=f3e5f5');
    }
    .navbar.navbar-6 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C');
    }
    .navbar.navbar-7 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00');
    }
    .navbar.navbar-8 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0');
    }
    .navbar.navbar-9 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8');
    }